name: Deploy Shinylive App

on:
  push:
    branches: [main, master]
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: r-lib/actions/setup-r@v2
        with:
          use-public-rspm: true # This makes installation very fast

      - uses: r-lib/actions/setup-pandoc@v2

      # --- NEW STEP: Install your app's specific packages ---
      - name: Install App Dependencies
        run: |
          install.packages(c("colourpicker", "dplyr", "dunn.test", "ggplot2", "ggsignif", "RColorBrewer", "scales", "tidyr"))
        shell: Rscript {0}
      # ----------------------------------------------------

      - name: Install Shinylive
        run: |
          install.packages("shinylive")
        shell: Rscript {0}

      - name: Build Applications
        run: |
          shinylive::export(appdir = ".", destdir = "_site")
          shinylive::export(appdir = "v1", destdir = "_site/v1")
        shell: Rscript {0}

      - name: Upload pages artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: "_site"

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
